---
---

.flex { display: flex; }
.flex-col { flex-direction: column; }
.w-full { width: 100%; }
.items-center { align-items: center; }
.justify-center { justify-content: center; }
.h-screen { height: 100vh; }
.rounded-full { border-radius: 50%; }

.mt-5 { margin-top: 10px; }